# Real-world Data Wrangling
### Fullname:
### ID:
### Class: 21JIT

## 1. Gather data

### **1.1.** Problem Statement

This project aims to practice my skills of data wrangling using real-world datasets.

Your statements here

In this dataset, I would like to answer the following research questions:

Question 1:

Question 2:

.........

Question n:

### **1.2.** Gather at least two datasets using two different data gathering methods

Gather each of the 2 pieces of data from different sources:

In [ ]:
# import libraries:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
#FILL IN 1st data gathering and loading method
df1 = pd.read_csv("Car-Sales.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'Car-Sales.csv'

In [ ]:
#FILL IN 2nd data gathering and loading method
df2 = pd.read_csv("dealer.csv")

In [ ]:
# Write data to local file

## 2. Assess data

I will assess the data both visually and programmatically to identify any data quality(content) issues and tidiness(structual) issues.

### Quality Issue 1:

In [ ]:
#FILL IN - Inspecting the dataframe visually
df1.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Phone
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,8264678
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000.0,SUV,6848189
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,NaN,Passenger,7298798
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000.0,SUV,6257557
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500.0,Hatchback,7081483

In [ ]:
#FILL IN - Inspecting the dataframe programmatically
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Car_id         5002 non-null   object
 1   Date           5002 non-null   object
 2   Customer Name  5002 non-null   object
 3   Gender         5002 non-null   object
 4   Annual Income  5002 non-null   int64
 5   Company        5002 non-null   object
 6   Model          5002 non-null   object
 7   Engine         5002 non-null   object
 8   Transmission   5002 non-null   object
 9   Color          5002 non-null   object
 10  Price ($)      4987 non-null   float64
 11  Body Style     5002 non-null   object
 12  Phone          5002 non-null   int64
dtypes: float64(1), int64(2), object(10)
memory usage: 508.1+ KB

In [ ]:
df_company = df1.groupby('Company').agg({'Car_id':'count', 'Price ($)':'mean'}).reset_index()

df_company

       Company  Car_id     Price ($)
0        Acura     153  25170.026144
1         Audi      93  23075.935484
2          BMW     173  25034.508671
3        Buick      81  31936.493827
4     Cadillac     124  41120.260163
5    Chevrolet     362  25983.428969
6     Chrysler     241  26094.053942
7        Dodge     303  26453.000000
8         Ford     337  29735.570149
9        Honda     162  29043.565217
10     Hyundai      58  19739.706897
11    Infiniti      31  25974.387097
12      Jaguar      35  24800.114286
13        Jeep      65  21448.476190
14       Lexus     159  32705.512658
15     Lincoln     108  32839.916667
16  Mercedes-B     300  25262.760000
17     Mercury     202  29211.504950
18  Mitsubishi     294  26949.805461
19      Nissan     151  29134.781457
20  Oldsmobile     238  31337.927966
21    Plymouth     155  30535.916129
22     Pontiac     188  29597.593583
23     Porsche      86  23219.348837
24        Saab      41  40941.048780
25      Saturn     130  30623.192308
26      Subaru      76  29125.842105
27      Toyota     227  30334.039648
28  Volkswagen     266  25727.852830
29       Volvo     163  28852.276074

#### Observations:


Nhìn vào dataset

### Quality Issue 2:

In [ ]:
#FILL IN - Inspecting the dataframe visually
df2.head()

                           Dealer_Name  Dealer_No  Dealer_Region
0  Buddy Storbeck's Diesel Service Inc  06457-3834    Middletown
1                     C & M Motors Inc  60504-7114        Aurora
2                          Capitol KIA  38701-8047    Greenville
3               Chrysler of Tri-Cities  99301-3882         Pasco
4                    Chrysler Plymouth  53546-9427    Janesville

In [ ]:
#FILL IN - Inspecting the dataframe programmatically
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5002 entries, 0 to 5001
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Dealer_Name    5002 non-null   object
 1   Dealer_No      5002 non-null   object
 2   Dealer_Region  5002 non-null   object
dtypes: object(3)
memory usage: 117.4+ KB

#### Observations:

In [ ]:
#FILL IN

### Tidiness Issue 1:

In [ ]:
#FILL IN

#### Observations:

#FILL IN

### Tidiness Issue 2:

In [ ]:
#FILL IN

#### Observations:

#FILL IN

## 3. Clean data
Clean the data to solve the 4 issues corresponding to data quality and tidiness found in the assessing step.

Make copies of the datasets

In [ ]:
# FILL IN - Make copies of the datasets to ensure the raw dataframes are not impacted
df1_copy = df1.copy()
df2_copy = df2.copy()

### **Quality Issue 1: FILL IN**

In [ ]:
#FILL IN
df1_copy.head()

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Phone
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,8264678
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000.0,SUV,6848189
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,NaN,Passenger,7298798
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000.0,SUV,6257557
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500.0,Hatchback,7081483

Justification: *FILL IN*

### **Quality Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy
df1_copy.isnull().sum()

Car_id            0
Date              0
Customer Name     0
Gender            0
Annual Income     0
Company           0
Model             0
Engine            0
Transmission      0
Color             0
Price ($)        15
Body Style        0
Phone             0
dtype: int64

In [ ]:
df1_copy.dtypes

Car_id            object
Date              object
Customer Name     object
Gender            object
Annual Income      int64
Company           object
Model             object
Engine            object
Transmission      object
Color             object
Price ($)        float64
Body Style        object
Phone              int64
dtype: object

In [ ]:
df1_copy.duplicated().sum()

3

In [ ]:
df2_copy.duplicated().sum()

4827

In [ ]:
df1_copy

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Phone
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,8264678
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000.0,SUV,6848189
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,NaN,Passenger,7298798
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000.0,SUV,6257557
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500.0,Hatchback,7081483
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000.0,Sedan,7050688
4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000.0,SUV,6236154
4999,C_CND_004997,8/28/2022,Elena,Female,3900000,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,NaN,Hatchback,7664667
5000,C_CND_004998,8/28/2022,Elina,Male,1500000,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000.0,Sedan,7050688
5001,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000.0,SUV,6236154

In [ ]:
#FILL IN - Validate the cleaning was successful
df1_copy = df1_copy.drop_duplicates()
df1_copy

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Phone
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,8264678
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000.0,SUV,6848189
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,NaN,Passenger,7298798
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000.0,SUV,6257557
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500.0,Hatchback,7081483
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4994,C_CND_004995,8/27/2022,Eleanor,Male,13500,Volkswagen,Jetta,DoubleÂ Overhead Camshaft,Auto,Black,22000.0,Passenger,7591136
4995,C_CND_004996,8/28/2022,Elaine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,6599483
4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Jeep,Wrangler,Overhead Camshaft,Manual,Pale White,NaN,Hatchback,7664667
4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Saturn,LS,DoubleÂ Overhead Camshaft,Auto,Red,24000.0,Sedan,7050688
4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Pontiac,Grand Am,DoubleÂ Overhead Camshaft,Auto,Pale White,12000.0,SUV,6236154

In [ ]:
df2_copy = df2_copy.drop_duplicates()
df2_copy

                              Dealer_Name  Dealer_No  Dealer_Region
0     Buddy Storbeck's Diesel Service Inc  06457-3834    Middletown
1                        C & M Motors Inc  60504-7114        Aurora
2                             Capitol KIA  38701-8047    Greenville
3                  Chrysler of Tri-Cities  99301-3882         Pasco
4                       Chrysler Plymouth  53546-9427    Janesville
...                                   ...         ...           ...
3202                        Suburban Ford  53546-9427    Middletown
3526                      Iceberg Rentals  53546-9427    Middletown
3527         McKinney Dodge Chrysler Jeep  85257-3102        Aurora
3528          Motor Vehicle Branch Office  78758-7841    Greenville
3529                       Nebo Chevrolet  06457-3834         Pasco

[175 rows x 3 columns]

### **Tidiness Issue 1: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
# Validate the removing cloumn was successful

Justification:

### **Tidiness Issue 2: FILL IN**

In [ ]:
#FILL IN - Apply the cleaning strategy

In [ ]:
#FILL IN - Validate the cleaning was successful

Justifications

### **Remove unnecessary variables and combine datasets if needed**

In [ ]:
#FILL IN - Remove unnecessary variables and combine datasets
df1_copy = df1_copy.drop(['Engine','Phone'],axis=1)

Remove unnecessary columns

In [ ]:
#FILL IN - Remove unnecessary variables and combine dataset
df1_copy.dropna()

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Transmission,Color,Price ($),Body Style
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,Auto,Black,26000.0,SUV
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,Auto,Black,19000.0,SUV
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Manual,Pale White,14000.0,SUV
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,Auto,Red,24500.0,Hatchback
5,C_CND_000006,1/2/2022,Guadalupe,Male,850000,Mitsubishi,Diamante,Manual,Pale White,12000.0,Hatchback
...,...,...,...,...,...,...,...,...,...,...,...
4993,C_CND_004994,8/27/2022,Elaine,Male,1425000,Dodge,Viper,Auto,Red,41500.0,SUV
4994,C_CND_004995,8/27/2022,Eleanor,Male,13500,Volkswagen,Jetta,Auto,Black,22000.0,Passenger
4995,C_CND_004996,8/28/2022,Elaine,Male,13500,Ford,Expedition,Auto,Black,26000.0,SUV
4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Saturn,LS,Auto,Red,24000.0,Sedan
4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Pontiac,Grand Am,Auto,Pale White,12000.0,SUV

Rename columns if needed

In [ ]:
#Rename column if needed
df1_copy.rename(columns = {'Car_id': 'id', 'Price ($)':'price'})

,id,Date,Customer Name,Gender,Annual Income,Company,Model,Transmission,Color,price,Body Style
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,Auto,Black,26000.0,SUV
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,Auto,Black,19000.0,SUV
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Manual,Red,NaN,Passenger
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Manual,Pale White,14000.0,SUV
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,Auto,Red,24500.0,Hatchback
...,...,...,...,...,...,...,...,...,...,...,...
4994,C_CND_004995,8/27/2022,Eleanor,Male,13500,Volkswagen,Jetta,Auto,Black,22000.0,Passenger
4995,C_CND_004996,8/28/2022,Elaine,Male,13500,Ford,Expedition,Auto,Black,26000.0,SUV
4996,C_CND_004997,8/28/2022,Elena,Female,3900000,Jeep,Wrangler,Manual,Pale White,NaN,Hatchback
4997,C_CND_004998,8/28/2022,Elina,Male,1500000,Saturn,LS,Auto,Red,24000.0,Sedan
4998,C_CND_004999,8/28/2022,Elizabeth,Male,1850000,Pontiac,Grand Am,Auto,Pale White,12000.0,SUV

Merge 2 dataset if needed

In [ ]:
#Merge 2 dataset
df_merge = pd.concat([df1, df2], axis=1, join="inner")
df_merge.head(5)

,Car_id,Date,Customer Name,Gender,Annual Income,Company,Model,Engine,Transmission,Color,Price ($),Body Style,Phone,Dealer_Name,Dealer_No,Dealer_Region
0,C_CND_000001,1/2/2022,Geraldine,Male,13500,Ford,Expedition,DoubleÂ Overhead Camshaft,Auto,Black,26000.0,SUV,8264678,Buddy Storbeck's Diesel Service Inc,06457-3834,Middletown
1,C_CND_000002,1/2/2022,Gia,Male,1480000,Dodge,Durango,DoubleÂ Overhead Camshaft,Auto,Black,19000.0,SUV,6848189,C & M Motors Inc,60504-7114,Aurora
2,C_CND_000003,1/2/2022,Gianna,Male,1035000,Cadillac,Eldorado,Overhead Camshaft,Manual,Red,NaN,Passenger,7298798,Capitol KIA,38701-8047,Greenville
3,C_CND_000004,1/2/2022,Giselle,Male,13500,Toyota,Celica,Overhead Camshaft,Manual,Pale White,14000.0,SUV,6257557,Chrysler of Tri-Cities,99301-3882,Pasco
4,C_CND_000005,1/2/2022,Grace,Male,1465000,Acura,TL,DoubleÂ Overhead Camshaft,Auto,Red,24500.0,Hatchback,7081483,Chrysler Plymouth,53546-9427,Janesville

In [ ]:
df = df_merge.dropna()
df = df_merge.drop_duplicates()

## 4. Update your data store
Update the database/data store with the cleaned data

In [ ]:
#FILL IN - saving data
#df1 = df1_copy
#df2 = df2_copy

## PROJECT 1 STOP HERE



## PROJECT 2

## 5. Answer the research question

### **5.1:** Define and answer the research question

* Question 1:

In [ ]:
#Visual 1 - FILL IN

Justifications

 Question 2:

In [ ]:
#Visual 2 - FILL IN

Justifications

Question n:

Justifications

### **5.2:** Reflection

After all steps above, I have the clean datasets and answer the research questions.
By using research questions, We can know the number infected cases in states, the death rate and the anomaly data.

In the future, I will look into the anomaly of the death and I will calculate the number of increasing or decreasing infected cases.
Further more, I will check the data in some columns such

#### SUBMISSION

After completion, export the notebook as an HTML file for the project submission using the File > Download as... > HTML or PDF menu option.

Submit file “my_Project.zip” to Final Project includes:

    1. my_Project.html
    2. my _Project.ipynb